---
import Layout from '../layouts/Layout.astro';
---

<Layout title="index page">
	<form method="POST" action="/posts/create">
		<label for="name">post message</label>
		<input type="text" name="message" required>
		<button type="submit">Submit</button>
	</form>
</Layout>
